body {
  margin: 0;
  font-family: "Gothic A1";
  background: #EEF1F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-shadow{
  filter: drop-shadow(4px 4px 55px rgba(38, 113, 225, 0.2));
}
.header-shadow{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.chat-header-shadow{
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}
@layer components {
  .sent {
    background-color: #2671E1;
    color: white;
    width: max-content;
    max-width: 510px;
    border-radius: 22px 0px 22px 22px;
    margin: theme('spacing.2');
    align-self: flex-end;
  }
  .received{
    background-color: #EAEEF2;
    color: #000000;
    width: max-content;
    max-width: 510px;
    border-radius: 0px 22px 22px 22px;
    margin: theme('spacing.2');
    align-self: flex-start;
  }
}
.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

.notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 7px 6px 10px;
  gap: 10px;
  width: max-content;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(43, 135, 218, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
}
.notification-wrapper {
  position: fixed;
  top: 125px;
  right: 10px;
  z-index: 100;
} 
.hidden {
  animation: SlideRight 0.4s;
  animation-fill-mode: forwards;
}
.open {
  animation: SlideLeft 0.4s;
  animation-fill-mode: forwards;
}
.notification-icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}
@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: 120%;
  }
}
.rotate-y-180{
  transform: rotateY(180deg);
}