body {
  margin: 0;
  font-family: "Gothic A1";
  background: #EEF1F4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-shadow{
  filter: drop-shadow(4px 4px 55px rgba(38, 113, 225, 0.2));
}